[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
requests = "*"
faker = "*"
selenium = "*"
opencv-python = "*"
network = "*"
python-telegram-bot = "*"
openai = "*"
django = "*"

[dev-packages]

[requires]
python_version = "*"
